<div class="hero">
  <br><br><br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Busy Trying to Keep Up Ever Changing </h1>
    <br />
    <h2>REGZVID offers customizable courseware that is created to give your in-house safety team full control of user experience. Includes embedded videostreaming lessons and full instructor control of content.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <%= link_to new_user_session_path do %>
    <span class="fa fa-play-circle fa-3x user-button"></span>
    <% end %>
    <h3>Create Content</h3>
    <br />
    <p>Create any number of video courses crafted with the Instructor's specific safety content in mind. <br /><strong>Sign up today and get started.</strong></p>
  </div>

  <div class="col-12 col-sm">
    <%= link_to courses_path do %>
    <span class="fa fa-laptop fa-3x user-button"></span>
    <% end %>
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access safety courses from Safety Professionals from a vast array of industry. Online introductory level courses focused on regulations and application of each safety product category. </p>
  </div>

  <div class="col-12 col-sm">
    <%= link_to 'https://regzpert-meier.herokuapp.com', :target => "_blank" do %>
    <span class="fa fa-users fa-3x user-button"></span>
    <% end %>
    <h3>Join our REGZPERT Community</h3>
    <br />
    <p>Meet more than 5,000 of your peers who are also passionate about safety. This is your chance to get up close and personal with them. You’ll walk away with a new set of contacts for collaboration and sharing best practices.</p>
  </div>
</div>