<br />

<div class="booyah-box col-10 offset-1">
  <h1>Privacy Policy</h1>
  <center><span class="fa fa-lock fa-5x"></span></center>
  <h2>We Respect It!</h2>


<p>REGZVID, Inc. is committed to protecting the privacy of all current and former attendees. Information collected is used solely for course registration and maintenance of educational/training records.</p>
<p>We will never sell any information about your records to a third party. Encryption is used for the transfer of data, and we do not store credit card information in our files.</p>
<p><strong>Collection of your Personal Information</strong></p>
<p>REGZVID, Inc. may collect personally identifiable information, such as your:
<br />
<p>Name</p>
<p>Email Address</p>
<p>Physical Address (if shipping physical product)</p>
<p>Phone Number</p>
<br />
<p>REGZVID, Inc. encourages you to review the privacy statements of websites you choose to link to from REGZVID, Inc. so that you can understand how those websites collect, use and share your information. REGZVID, Inc. is not responsible for the privacy statements or other content on websites outside of the REGZVID, Inc. website.</p>
<p><strong>Use of your Personal Information</strong></p>
<p>REGZVID, Inc. collects and uses your personal information to operate its website(s) and deliver the products and services you have requested.</p>
<p>REGZVID, Inc. may also use your personally identifiable information to inform you of other products or services available from REGZVID, Inc. and its affiliates. REGZVID, Inc. may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.</p>
<p>REGZVID, Inc. may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to ASTS, Inc., and they are required to maintain the confidentiality of your information.</p>
<p>REGZVID, Inc. may keep track of the websites and pages our users visit within REGZVID, Inc., in order to determine what REGZVID, Inc. services are the most popular. This data is used to deliver customized content and advertising within REGZVID, Inc. to customers whose behavior indicates that they are interested in a particular subject area.</p>
<p>REGZVID, Inc. will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to (a) conform to the edicts of the law or comply with legal process served on REGZVID, Inc. or the site; (b) protect and defend the rights or property of REGZVID, Inc. ; and, (c) act under exigent circumstances to protect the personal safety of users of REGZVID, Inc., or the public.</p>
<p><strong>Automatically Collected Information</strong></p>
<p>Information about your computer hardware and software may be automatically collected by REGZVID, Inc.. This information can include your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain the quality of the service, and to provide general statistics regarding use of the REGZVID, Inc. website.</p>
<p><strong>Use of Cookies</strong></p>
<p>The REGZVID, Inc. website may use “cookies” to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</p>
<p>One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize REGZVID, Inc. pages, or register with REGZVID, Inc. site or services, a cookie helps REGZVID, Inc. to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same REGZVID, Inc. website, the information you previously provided can be retrieved, so you can easily use the REGZVID, Inc. features that you customized.</p>
<p>You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the REGZVID, Inc. services or websites you visit.</p>
<p><strong>Opt-Out &amp; Unsubscribe</strong></p>
<p>We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from REGZVID, Inc. by contacting us here:</p>
<p>– Click “unsubscribe” at the bottom of our email</p>
<p>– Email: support@regzpert.com</p>
<p>– Phone: 800-206-6705</p>
<p><strong>Changes to this Statement</strong></p>
<p>REGZVID, Inc. will occasionally update this Statement of Privacy to reflect company and customer feedback. REGZVID, Inc. encourages you to periodically review this Statement to be informed of how REGZVID, Inc. is protecting your information.</p>
<p><strong>Contact Information</strong></p>
<p>REGZVID, Inc. welcomes your questions or comments regarding this Statement of Privacy. If you believe that REGZVID, Inc. has not adhered to this Statement, please contact REGZVID, Inc. support:</p>
<p>Email Address:  support@regzpert.com</p>
<p>Telephone number:  800-206-6705</p>
<p style="text-align: center;"><strong>Unfortunately, no data transmission over the internet is 100% secure.<br />
We urge you to take all practical and reasonable precautions.<br />
</strong></p>
</div