@import "bootstrap";
@import "font-awesome";

.navbar {
  background: image_url('carbon.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #e6da5e;
  font-family: 'capture_it_2regular', sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

body {
  background: image_url('tiles.png');
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  }

.hero {
  background: image_url('hero3.jpg');
  height: 400px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  font-size: 35px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  font-size: 20px;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
  text-align: center;
}

.booyah-box p {
  padding-left: 60px;
  padding-right: 60px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.booyah-box2 {
  margin-top: 20px;
  color: #247BA0;
  margin-bottom: 20px;
 }

.booyah-box2 hr {
  border: 2px solid #247BA0;
}

.course-box {
  border: 2px solid #247BA0;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 35px;
  margin-left: 10px;
}

.course-box hr {
  border: 2px solid #247BA0;
}

.course-box2 {
  border: 1px solid #247BA0;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 35px;
  margin-left: 10px;
}

 .special a {
  color: #247BA0;
 }

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.lesson a {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

.sections {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  padding: 20px;
  background-color: white;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header .fa {
  font-size: 20px;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

.user-button {
  color: #b8b6b6;
  padding-bottom: 20px;
  text-decoration: none;
}

.fa-lock {
    color: #b8b6b6;
  }

.badge-default {
  background-color: #585b5e;
  padding: 15px 48px 15px 48px;
  font-size: 18px;
  margin-bottom: 20px;
}

.badge-info {
  padding: 15px 48px 15px 48px;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-danger {
  background-color: #c40616;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
  color: #285e8e;
  background-color: transparent;
  border-color: #285e8e;
}

.btn-warning {
  margin-top: 10px;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
  color: #285e8e;
  background-color: transparent;
  border-color: #285e8e;
}

.btn-primary {
  color: white;
  background-color: #247BA0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #285e8e;
  background-color: transparent;
  border-color: #285e8e;
}

.btn-success {
  border-radius: 5px;
}